{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2><hr/>
		<p class="lead text-align-center">“En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor...”</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
	</div>
</div>

{% endblock %}